@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
}

body {
  background-color: rgb(180, 255, 254);
  padding: 20px;
}

li {
  display: flex;
  align-items: center;
  background-color: rgba(128, 128, 128, 0.126);
  padding: 20px;
  margin: 5px;
}

li > * {
  margin: 5px;
}

li > h2 {
  text-transform: uppercase;
}

li:hover {
  background-color: rgba(128, 128, 128, 0.422);
}

.details {
  background-color: rgba(82, 82, 82, 0.406);
  padding: 50px 20px;
  margin: 20px 0;
  border-radius: 20px;
  color: white;
}

.buttons {
  background-color: rgba(184, 184, 184, 0.324);
  width: 300px;
  display: flex;
  justify-content: space-evenly;
}
